<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.business.mapper.SalesbackMapper">
		
		<select id="queryOutportCountByIsalesId" resultType="java.lang.Integer">
			select count(1) from bus_sales where salesid=#{value}
		</select>
</mapper>
