<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.system.mapper.UserMapper">
	
	
		<select id="queryUserMaxOrderNum" resultType="java.lang.Integer">
			select max(ordernum) from sys_user
		</select>
		
	 <!-- 保存用户和角色之间的关系数据 -->
	<insert id="saveUserRole">
		insert into sys_role_user(rid,uid) values(#{rid},#{uid})
	</insert> 
	
</mapper>
